#root {

 width: 100%;
}

.mainContainer{
   position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}



.floatingGif {
  position: fixed;
  pointer-events: auto;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
  z-index: 9999;
  /* filter: drop-shadow(0 0 10px rgba(255, 0, 150, 0.5)); */
}
